/*Reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Stylesheet Starts here*/

body {
  height: 100vh;
  width: 100vw;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.section-header {
  font-weight: 700;
  font-size: 30px;
  margin: 50px auto;
  z-index: 1;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background: hsl(234, 14%, 74%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-images {
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.bg-bottom {
  align-self: end;
  overflow: clip;
}

.bg-top {
  align-self: start;
  overflow: clip;
}

.pricing-container {
  box-shadow: 10px 50px 1000px grey;
  height: 85vh;
  width: 90vw;
  background: hsl(240, 78%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toggle-input[type="checkbox"] {
  display: none;
}

.toggle-label {
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: linear-gradient(
    90deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );
  display: block;
  margin: auto 20px;
  border-radius: 100px;
  position: relative;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 40px;
  transition: 0.3s;
}

.toggle-input:checked + .toggle-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-label:active:after {
  width: 60px;
}

.cards {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cards.monthly {
  display: none;
  flex-direction: row;
}

.cards.annual {
  display: flex;
  flex-direction: row;
}

.toggle-input:checked ~ .monthly {
  display: flex;
}

.toggle-input:checked ~ .annual {
  display: none;
}

.card {
  font-weight: 700;
  margin: 20px 0;
  padding: 20px;
  height: 500px;
  background: white;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: hsl(233, 13%, 49%);
}

.card:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(233, 13%, 49%);
}

.currency {
  font-size: 25px;
}
.amount {
  font-size: 50px;
}

.pack-title {
  color: hsl(233, 13%, 49%);
}

.price {
  display: flex;
  align-items: center;
  color:  hsl(232, 13%, 33%);
}

.card:hover {
  border-radius: 10px;
  background: linear-gradient(
    160deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );
  color: white;
  transition: 0.3s;
  transform: scale(1.1);
}

.card:hover > .learn-more-button {
  background: white;
  color: hsl(237, 63%, 64%);
}

.card:hover > .description {
  color: white;
}

.card:hover > .pack-title {
  color: white;
}

.card:hover > .price {
  color: white;
}

.line-break {
  height: 1px;
  width: 250px;
  margin: 20px 10px;
  background: hsl(234, 14%, 74%);
}

.learn-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 90%;
  background: linear-gradient(
    90deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );
  border-radius: 5px;
  color: white;
}

@media (max-width: 375px) {
  .cards {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .card {
    border-radius: 10px;
  }

  .cards.monthly {
    flex-direction: column;
  }

  .cards.annual {
    flex-direction: column;
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .pricing-container {
    height: 100%;
    width: 100%;
    background: hsl(240, 78%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
  }
}
